body {
    background-color: #a6baf1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.navbar-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #cf4f17;
    text-decoration:none;
    
}

.text-center {
padding-top: 10px;
}

.light-bg {
    background-color: rgb(237, 145, 145);
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #c1f6b8;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #c1f6b8;
}

.author {
    color: rgb(9, 1, 1);
    margin: 4px;   
    font-size: 14px;
    font-weight: 500;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: rgb(243, 241, 241);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000203;
    font-size: 1rem;
}

.post-link:hover,
.page-link {
    color: #e3c710;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.about-jwc {
    margin-top: 5%;
    margin-bottom: 5%;
}

.fun-fact-title {
    margin-bottom: 5%;
}

.navbar {
    
    border: 1px solid #00000058;
    border-radius: 0;

}

.page-title-logo {
    width: 100%;
    object-fit: cover;
    padding-top: 20px;
}

.ig-link-footer {
    color: #fff;
    text-decoration: none;
}

.bookmark_header {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.8rem;
    margin-left: 2%;
}

.empty-space {
    margin-top: 600px;
}

.btn-edit-post-detail {
    margin-bottom: 10px;
}

a {
    color: #000203;
}

.post-subtitle {
    color:black;
}
