{% extends "base.html" %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-10 col-sm-8 col-md-8 col-lg-6 col-xl-6">
            <p class="about-jwc">
                Jasmin's World Cup blog is a place where you can find out about the latest news and updates 
                regarding the World Cup 2022 in Qatar. Jasmin follows every game and every goal and will be
                preparing a blog post for most matchups. He will also be writing about the teams and the players
                and will be giving his predictions for the tournament.

                Jasmin is a huge football fan and has been following the World Cup since 1998. He has been to
                the World Cup in 2010 and 2014 and is a big fan of Croatia, which is part of his family heritage.
                He is also a big fan of the Italian Serie A and follows the teams in the league closely. </p>


            <p class="fun-fact-title">A few fun facts about Jasmin and his football history:  </p>
            <ul> 
            <li> Favorite national team: Croatia/Bosnia/Italy </li>
            <li> Favorite club team: Inter Milan </li>
            <li> Favorite current player: Marcelo Brozovic </li>
            <li> Favorite all-time player: Ronaldinho </li>
            <li> Favorite stadium: San Siro </li>
            <li> Favorite football memory: Being in Lithuania to watch Bosnia and Herzegovina qualify for their first World Cup in 2014. Inter winning
                the treble with Mourinho in 2010. </li> </ul>
            <ul>
            <li> Team played for: Helsingborgs IF (Sweden) </li>
            <li> Position on the pitch: Striker, Left-Winger </li>
            <li> Biggest football inspirations: Zlatan Ibrahimovic, Romario, Ronaldo (Brazil), Filippo Inzaghi, Javier Zanetti, Diego Milito </li>
            <li> Best Goal Ever: Zlatan's bicycle kick against England in the opening of Sweden's new national Arena. </li>
            </ul>
            
          </div>
          <div class="col">
          </div>
        </div>
</body>
</html>

{% endblock %}