{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-10 col-sm-8 col-md-8 col-lg-6 col-xl-4">
            <p class="about-jwc">
                Jasmin's World Cup blog is not sponsored by anyone and is therefore dependent on donations from readers.
                Currently Jasmin is a student and is not able to pay for the blog himself.
                In order to keep the blog running, Jasmin needs to pay for the hosting and the domain name.
                If you would like to see Jasmin travel to the next World Cup a considerable amount of money is needed. If you would like to help Jasmin
                please find the link below. Any amount is appreciated. Thank you for your support!

              </p>

          <div class="paypal-link image-container">
            <a href="https://paypal.me/jazz08042?country.x=SE&locale.x=en_US">
            <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donate with PayPal button">
            </a>

            
          </div>

            
          </div>
          <div class="col">
          </div>
        </div>
    </div>
</body>
</html>

{% endblock %}